:root {
  --color-primary: #005102;
  --color-secondary: #ffb410;
  --button-padding: 13px 25px;
  --all-font: "Mohave", sans-serif;
  --font-size-small: 20px;
  --font-weight: 600;
}

// button {
//   padding: var(--button-padding);
//   font-family: var(--all-font);
//   text-transform: uppercase;
//   font-weight: var(--font-weight);
//   background-color: var(--color-primary);
//   color: var(--color-secondary);
//   border: none;
//   font-size: var(--font-size-small);
// }

.cont-1 {
  background-color: var(--color-primary);
}

.sec-1 {
  background-image: url("../Images/hero-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 189px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1-inner {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.event-name {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: 150px;
  color: #ffffff;
}
.span-a {
  color: var(--color-secondary);
}

.span-b {
  color: var(--color-primary);
}

.main-changes {
  position: absolute;
  margin-left: 10px;
}

.buy-changes {
  margin-left: 10px;
  margin-top: 80px;
}

.sec-2 {
  background-image: url("../Images/pattern-one.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 189px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-2-inner {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

