:root {
  --color-primary: #005102;
  --color-secondary: #ffb410;
  --button-padding: 13px 25px;
  --all-font: "Mohave", sans-serif;
  --font-size-small: 20px;
  --font-weight: 600;
}

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

.App {
  scroll-behavior: smooth;
}

.button-one {
  padding: var(--button-padding);
  font-family: var(--all-font);
  text-transform: uppercase;
  font-weight: var(--font-weight);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  font-size: var(--font-size-small);
}

.ts {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size-small);
  color: #ffffff;
}

.h2-yellow {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: 60px;
  color: var(--color-secondary);
}

.h2-green {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: 60px;
  color: var(--color-primary);
}

.h3-yellow {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: 30px;
  color: var(--color-secondary);
  padding: 0;
  margin: 0;
}

.h3-green {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: 30px;
  color: var(--color-primary);
}

.ts-up {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size-small);
  color: #ffffff;
  text-transform: uppercase;
}

.ts-green {
  font-family: var(--all-font);
  font-weight: var(--font-weight);
  font-size: var(--font-size-small);
  color: var(--color-primary);
}

.mgt-6 {
  margin-top: 60px;
}

.mgt-1 {
  margin-top: 10px;
}

.mgb-2 {
  margin-bottom: 20px;
}
